[submodule "lib/system"]
	path = lib/system
	url = ../../webcraftmedia/system.git
[submodule "wecker_manufaktur/sai/saimod_mail"]
	path = wecker_manufaktur/sai/saimod_mail
	url = ../../webcraftmedia/saimod_mail.git
[submodule "lib/mail_cannon"]
	path = lib/mail_cannon
	url = ../../webcraftmedia/lib_mail_cannon.git
