<?php
namespace WEBCRAFT;
function basic_config(){
    return array(   array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_ERRORREPORTING,        E_ALL | E_STRICT),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_PATH_BASEURL,          'http://www.url.to/project/'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_PATH_BASEPATH,         '/server/path/to/project/'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_TYPE,               \SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_TYPE_MYS),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_HOST,               '127.0.0.1'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_PORT,               ''),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_USER,               'db_user'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_PASSWORD,           'db_pw'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DB_DBNAME,             'db_name'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_SAI_CONFIG_PROJECT,           'demo_basic'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_PATH_SYSTEMPATHREL,    'lib/system/'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_LANGS,                 array('deDE','enUS')),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CONFIG_DEFAULT_LANG,          'deDE'),
                    array(\SYSTEM\CONFIG\config_ids::SYS_CRON_LOG2SQLITE_PATH,         '/server/üath/to/projectlogextraction/'));
}