// Colors
$color_white: rgb(255,255,255);
$color_grey: rgba(255,255,255,0.37);
$color_black: rgb(0,0,0);
$color_green_1: rgb(12,22,11);
$color_green_2: rgb(21,26,16);
$color_green_3: rgb(29,48,25);

// Distances
$distance_huge: 250px;
$distance_big: 100px;
$distance_large: 50px;
$distance_medium: 25px;
$distance_small: 10px;

// Images
$home_img: url(./files/img/wecker_manufaktur.jpg);

// Font Size
$font_size_50: 50px;
$font_size_70: 70px;


body {
    color: $color_white;
}

.fullpage {
    min-height: 100vh;
    overflow-y: hidden;
}

.nav-link {
    color: $color_white !important;
}

#menu {
    padding-left: $distance_big;
    padding-right: $distance_big;
}

#home {
    background-image: $home_img;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: $distance_big;
    padding-right: $distance_big;

    h1{
        display: flex;
        flex: 1 0 auto;
        align-self: center;
        align-items: center;
        font-size: $font_size_70;
    }

    h4 {
        align-self: bottom;
    }

    a{
        font-size: $font_size_50;
        color: $color_grey;
        margin-top: -25px;
        margin-bottom: -20px;
    }
}

#content {
    background-image: linear-gradient($color_green_1,$color_green_3);
    text-align: center;
    padding-left: $distance_big;
    padding-right: $distance_big;

    #philosophy{
        h2{
            padding-top: $distance_large;
            padding-bottom: $distance_medium;
        }
    }

    #persons{
        padding-top: $distance_large;
        padding-bottom: $distance_medium;

        .person {
            img {
                object-fit: cover;
                width: 300px;
                height: 300px;
            }
            .disabled{
                filter: grayscale(100%);
            }
        }

        .person-details{
            text-align: left;
        }
    }

    #projects{
        h2{
            padding-top: $distance_large;
            padding-bottom: $distance_medium;
        }

        .project{
            img {
                object-fit: cover;
                width: 300px;
                height: 300px;
            }
            .disabled{
                filter: grayscale(100%);
            }
        }

        .project-details{
            text-align: left;

            img {
                object-fit: cover;
                width: 75px;
                height: 75px;
            }
        }
    }

    #apply{
        padding-bottom: $distance_medium;

        h2 {
            padding-top: $distance_large;
            padding-bottom: $distance_medium;
        }

        input, textarea {
            background-image: linear-gradient(to right, $color_green_1,$color_green_3);
            width: 100%;
            color: $color_white;
            border: 0;
            padding: $distance_small;
            border-radius: $distance_small;
        }

        input::placeholder, textarea::placeholder{
            color: $color_white;
        }

        input {
            height: $distance_large;
            margin-bottom: $distance_medium;
        }

        textarea {
            height: $distance_huge;
        }

        #apply-send-box {
            text-align: left;
        }

        #apply-count-box {
            text-align: right;
        }
    }

    .table-condensed {
        th{
            width: 1%;
        }
        td {
            width: auto;
        }
    }
}

#footer-links {
    background-color: $color_green_2;
    padding-left: $distance_big;
    padding-right: $distance_big;
    padding-top: $distance_small;
    padding-bottom: $distance_small;
}

#footer-bottomline {
    background-color: $color_black;
    padding: $distance_small;
    padding-left: $distance_big;
    padding-right: $distance_big;
    text-align: center;
}

.modal {
    color: $color_black;
}